*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    user-select: none;
    font-family: sans-serif;
}
.container{
    background-color: #000;
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #3a4658;
    width:500px;
    border-radius: 5px;
}
.display_board{
    text-align: end;
    padding: 10px;
}
.display_previous_input{
    color:#97a4b3;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #e0e8f2;
}
.display_input{
    color:#fff;
    font-size: 38px;
    margin-bottom: 20px;
}
.numbers_span{
    width:100%;
    display: flex;
    gap:7px;
}
.numbers_span span{
    height:100px;
    background-color: #415061;
    color:#d0ecfb;
    flex:1;
    margin-bottom: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    cursor: pointer;
}
.numbers_span span:active{
    font-size: 30px;
}
.clear_button{
    width:90%;
    margin: 20px auto;
    background-color: #415061;
    text-align: center;
    border-radius: 5px;
    color: #f35360;
    font-size: 30px;
    cursor: pointer;

}
.clear_button:active{
    scale:0.95;
}